<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="OpenTOSCA" sequenceNumber="101">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.h2.feature.feature.group" version="1.1.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/updates/dbaccess/1.1.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.2.0.M1"/>
<repository location="http://download.eclipse.org/gemini/jpa/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.dbws.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.dbws.source.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.dbwsbuilder.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.dbwsbuilder.source.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.jpa.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.jpa.source.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.moxy.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.moxy.source.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.nosql.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.nosql.source.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.sdo.feature.group" version="2.6.3.v20160428-59c81c5"/>
<unit id="org.eclipse.persistence.sdo.source.feature.group" version="2.6.3.v20160428-59c81c5"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/2.6.3.v20160428-59c81c5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20170209-1843"/>
<unit id="org.eclipse.platform.ide" version="4.6.3.M20170301-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="1.1.2.v20160208-0839"/>
<unit id="ch.qos.logback.core" version="1.1.2.v20160208-0839"/>
<unit id="ch.qos.logback.slf4j" version="1.1.2.v20160301-0943"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="2.5.0.v201504151636"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.5.0.v201504151636"/>
<unit id="com.google.inject" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
<unit id="javax.ws.rs" version="2.0.1.v201504171603"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.codec" version="1.9.0.v20170208-1614"/>
<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
<unit id="org.apache.commons.exec" version="1.1.0.v201301240602"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.pool" version="1.6.0.v201204271246"/>
<unit id="org.apache.derby" version="10.11.1.1_v201605202053"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.2.v20170210-0925"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.6.v20170210-0925"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.glassfish.jersey.bundles.repackaged.jersey-guava" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.containers.servlet" version="2.22.1.v20161103-0227"/>
<unit id="org.glassfish.jersey.containers.servlet.core" version="2.22.1.v20161103-0227"/>
<unit id="org.glassfish.jersey.core.jersey-client" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.core.jersey-common" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.core.jersey-server" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.ext.entityfiltering" version="2.22.1.v20161103-0227"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.22.1.v20161117-2005"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.junit.source" version="4.12.0.v201504281640"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.mockito.source" version="1.9.5.v201605172210"/>
<unit id="org.slf4j.api" version="1.7.10.v20170224-1220"/>
<unit id="org.slf4j.apis.jcl" version="1.7.10.v20160208-0839"/>
<unit id="org.slf4j.apis.log4j" version="1.7.10.v20160208-0839"/>
<unit id="org.slf4j.bridge.jul" version="1.7.10.v20160208-0839"/>
<unit id="org.slf4j.ext" version="1.7.10.v20170224-1220"/>
<repository location="http://download.eclipse.org/tools/orbit/R-builds/R20170307180635/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.bugsnag" version="3.2.0"/>
<unit id="com.google.gson" version="2.2.4"/>
<unit id="com.googlecode.json-simple" version="1.1.0"/>
<unit id="com.hazelcast" version="3.5.4"/>
<unit id="com.librato.metrics.librato" version="5.1.0"/>
<unit id="com.predic8.soa-model-core" version="1.2.2"/>
<unit id="com.springsource.util.common" version="2.0.0.RELEASE"/>
<unit id="com.springsource.util.osgi" version="2.0.0.RELEASE"/>
<unit id="com.springsource.util.parser.manifest" version="2.0.0.RELEASE"/>
<unit id="com.sun.jersey.client" version="1.17.1"/>
<unit id="com.sun.jersey.core" version="1.17.1"/>
<unit id="dk.nykredit.jackson.dataformat.jackson-dataformat-hal" version="1.0.1"/>
<unit id="filesystem" version="1.7.3"/>
<unit id="groovy-all" version="1.8.6"/>
<unit id="io.dropwizard.metrics.core" version="3.2.2"/>
<unit id="io.moquette.broker" version="0.11.0"/>
<unit id="io.netty.codec" version="4.1.12.Final"/>
<unit id="io.netty.codec-http" version="4.1.12.Final"/>
<unit id="io.netty.codec-mqtt" version="4.1.12.Final"/>
<unit id="io.netty.common" version="4.1.12.Final"/>
<unit id="io.netty.handler" version="4.1.12.Final"/>
<unit id="io.netty.transport" version="4.1.12.Final"/>
<unit id="io.netty.transport-native-epoll" version="4.1.12.Final"/>
<unit id="io.netty.transport-native-unix-common" version="4.1.12.Final"/>
<unit id="jclouds-blobstore" version="1.7.3"/>
<unit id="jclouds-core" version="1.7.3"/>
<unit id="jclouds-slf4j" version="1.7.3"/>
<unit id="org.apache.aries.blueprint.api" version="1.0.0"/>
<unit id="org.apache.aries.blueprint.core" version="1.4.4"/>
<unit id="org.apache.aries.proxy.api" version="1.0.0"/>
<unit id="org.apache.aries.quiesce.api" version="1.0.0"/>
<unit id="org.apache.aries.util" version="1.0.0"/>
<unit id="org.apache.camel.camel-blueprint" version="2.18.3"/>
<unit id="org.apache.camel.camel-core" version="2.18.3"/>
<unit id="org.apache.camel.camel-core-osgi" version="2.18.3"/>
<unit id="org.apache.camel.camel-core-xml" version="2.18.3"/>
<unit id="org.apache.camel.camel-cxf" version="2.18.3"/>
<unit id="org.apache.camel.camel-cxf-transport" version="2.18.3"/>
<unit id="org.apache.camel.camel-http" version="2.18.3"/>
<unit id="org.apache.camel.camel-http-common" version="2.18.3"/>
<unit id="org.apache.camel.camel-jaxb" version="2.18.3"/>
<unit id="org.apache.camel.camel-jetty" version="2.18.3"/>
<unit id="org.apache.camel.camel-jetty-common" version="2.18.3"/>
<unit id="org.apache.camel.camel-jetty9" version="2.18.3"/>
<unit id="org.apache.camel.camel-mqtt" version="2.18.3"/>
<unit id="org.apache.camel.camel-restlet" version="2.18.3"/>
<unit id="org.apache.camel.camel-spring" version="2.18.3"/>
<unit id="org.apache.camel.camel-stream" version="2.18.3"/>
<unit id="org.apache.cxf.cxf-core" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-bindings-soap" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-bindings-xml" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-databinding-jaxb" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-frontend-jaxrs" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-frontend-jaxws" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-frontend-simple" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-rs-client" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-rs-security-oauth" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-transports-http" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-transports-http-jetty" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-ws-addr" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-ws-policy" version="3.1.10"/>
<unit id="org.apache.cxf.cxf-rt-wsdl" version="3.1.10"/>
<unit id="org.apache.neethi" version="3.0.3"/>
<unit id="org.apache.servicemix.bundles.spring-aop" version="4.3.7.RELEASE_1"/>
<unit id="org.apache.servicemix.bundles.spring-beans" version="4.3.7.RELEASE_1"/>
<unit id="org.apache.servicemix.bundles.spring-context" version="4.3.7.RELEASE_1"/>
<unit id="org.apache.servicemix.bundles.spring-core" version="4.3.7.RELEASE_1"/>
<unit id="org.apache.servicemix.bundles.spring-expression" version="4.3.7.RELEASE_1"/>
<unit id="org.apache.servicemix.bundles.spring-tx" version="4.3.7.RELEASE_1"/>
<unit id="org.fusesource.hawtbuf.hawtbuf" version="1.11.0"/>
<unit id="org.fusesource.hawtdispatch.hawtdispatch" version="1.22.0"/>
<unit id="org.restlet.jee.org.restlet" version="2.3.6"/>
<unit id="org.restlet.jee.org.restlet.ext.httpclient" version="2.3.6"/>
<unit id="rocoto" version="6.2.0"/>
<unit id="stax2-api" version="3.1.4"/>
<unit id="woodstox-core-asl" version="4.4.1"/>
<repository location="http://update-site.opentosca.org"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="5.3.1.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.swagger.feature.feature.group" version="1.1.1.201602281253"/>
<repository location="http://hstaudacher.github.io/osgi-jax-rs-connector"/>
</location>
</locations>
</target>