<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension id="openTOSCAPlanBuilder" point="org.eclipse.core.runtime.products">
  <product application="org.opentosca.planbuilder.service.application.application" name="OpenTOSCA PlanBuilder Product Definition">
     <property name="appName" value="OpenTOSCA PlanBuilder Product Definition"/>
  </product>
</extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.opentosca.planbuilder.service.application.OpenTOSCAApplication">
         </run>
      </application>
   </extension>

</plugin>
