<!--

Copyright 2013 IAAS University of Stuttgart 

Rene Trefft - trefftre@studi.informatik.uni-stuttgart.de 

This logback configuration is for test use of an application. All logging 
levels (from TRACE to ERROR) will be logged.
The logged entries will be printed to console, saved in files 
(complete log, warning log and error log with weekly rollover) and
will be sent to the Lilith event viewer.

-->

<!-- scanning for file changes disabled -->
<configuration>

	<!-- uncomment to show logback status information -->
	<!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" 
		/> -->

	<!-- file appender for console log -->
	<appender name="CONSOLE-ALL" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-13date{HH:mm:ss.SSS} %-6level %-46(%logger{40}:%line) %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- file appender for complete log -->
	<appender name="FILE-ALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%-24date %-6level %-46(%logger{40}:%line) %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover -->
			<fileNamePattern>log/%d{yyyy-'W'ww}_all.log</fileNamePattern>
			<!-- keep logs for 12 weeks -->
			<maxHistory>12</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- file appender for warning log -->
	<appender name="FILE-WARNING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%-24date %-6level %-46(%logger{40}:%line) %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover -->
			<fileNamePattern>log/%d{yyyy-'W'ww}_warning.log</fileNamePattern>
			<!-- keep logs for 12 weeks -->
			<maxHistory>12</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- file appender for error log -->
	<appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%-24date %-6level %-46(%logger{40}:%line) %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- weekly rollover -->
			<fileNamePattern>log/%d{yyyy-'W'ww}_error.log</fileNamePattern>
			<!-- keep logs for 12 weeks -->
			<maxHistory>12</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- socket appender for Lilith event viewer -->
	<appender name="SOCKET-ALL" class="ch.qos.logback.classic.net.SocketAppender">
		<remoteHost>localhost</remoteHost>
		<port>4560</port>
		<reconnectionDelay>170</reconnectionDelay>
		<includeCallerData>true</includeCallerData>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE-ALL" />
		<appender-ref ref="FILE-ALL" />
		<appender-ref ref="FILE-WARNING" />
		<appender-ref ref="FILE-ERROR" />
		<appender-ref ref="SOCKET-ALL" />
	</root>
	
	<logger name="org.apache.camel" level="INFO" />
	<logger name="org.eclipse.jetty" level="WARN" />
	<logger name="org.mortbay" level="WARN" />

</configuration>