<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%-5level-%d{HH:mm:ss}] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- code under our direct control -->
  <logger name="org.opentosca" level="INFO" />

  <!-- Reducing logging noise  -->
  <logger name="com.predic8" level="WARN" />
  <logger name="httpclient.wire" level="WARN" />
  <logger name="io.moquette" level="ERROR" />
  <logger name="io.moquette.persistence" level="OFF" />
  <logger name="io.netty" level="ERROR" />
  <logger name="messageLogger" level="ERROR" />
  <logger name="org" level="WARN" />
  <logger name="org.apache.camel" level="INFO" />
  <logger name="org.eclipse.jetty" level="OFF" />
  <logger name="org.hibernate" level="INFO" />
  <logger name="org.jclouds" level="INFO" />
  <logger name="org.springframework" level="INFO" />

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
