<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %-50.50logger{43}:%-4line{4} : %m%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/logback.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>+
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->

    <!-- code under our direct control -->
    <logger name="org.opentosca" level="DEBUG"/>
    <logger name="org.opentosca.container.api.config" level="INFO"/>
    <logger name="org.opentosca.container.core.common.uri" level="INFO"/>
    <logger name="org.opentosca.bus.management" level="DEBUG"/>

    <!-- Reducing logging noise  -->
    <logger name="com.predic8" level="WARN"/>
    <logger name="httpclient.wire" level="WARN"/>
    <logger name="io.moquette" level="ERROR"/>
    <logger name="io.moquette.persistence" level="OFF"/>
    <logger name="io.netty" level="ERROR"/>
    <logger name="io.swagger" level="INFO"/>
    <logger name="messageLogger" level="INFO"/>
    <logger name="org" level="WARN"/>
    <logger name="org.apache.camel" level="WARN"/>
    <!-- logging in- and outbound SOAP messages -->
    <logger name="org.apache.cxf.services" level="INFO"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.jclouds" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.eclipse.winery" level="ERROR"/>
    <logger name="org.apache.axis2" level="ERROR"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="file"/>-->
    </root>
</configuration>
