<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.opentosca.container.targetplatform" sequenceNumber="15">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8i8eNV4WsRkue-4Vq4J6pCyW"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.7.2.v20120120-1424-9DB5FmnFq5JCf1UA38R-kz0S0272"/>
<unit id="org.eclipse.rcp.feature.group" version="3.7.2.v20120120-1424-9DB5FmnFq5JCf1UA38R-kz0S0272"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.opentosca.container.targetplatform.feature.feature.group" version="1.0.0.201508181302"/>
<repository location="http://nyuuyn.github.io/openTOSCAContainerDependencies/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="com.google.gwtjsonrpc" version="1.2.5.v201112241444"/>
<unit id="org.codehaus.jackson.xc" version="1.6.0.v20101005-0925"/>
<unit id="com.google.gwtjsonrpc.source" version="1.2.5.v201112241444"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.apache.cassandra.source" version="0.7.0.v201503170330"/>
<unit id="org.codehaus.jackson.smile.source" version="1.6.0.v20101005-0925"/>
<unit id="org.eclipse.orbit.mongodb.source" version="2.10.1.v20130422-1135"/>
<unit id="org.codehaus.jackson.smile" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="org.codehaus.jackson.mapper.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.xc.source" version="1.6.0.v20101005-0925"/>
<unit id="org.apache.cassandra" version="0.7.0.v201503170330"/>
<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.jaxrs.source" version="1.6.0.v20101005-1100"/>
<unit id="org.eclipse.orbit.mongodb" version="2.10.1.v20130422-1135"/>
<unit id="org.codehaus.jackson.core.source" version="1.6.0.v20101005-0925"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
</target>
