<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension id="app" point="org.eclipse.core.runtime.applications">
        <application>
            <run class="org.opentosca.container.application.Application"/>
        </application>
    </extension>
    <extension id="product" point="org.eclipse.core.runtime.products">
        <product application="org.opentosca.container.application.app" name="OpenTOSCA Container">
            <property name="appName" value="OpenTOSCA Container"/>
        </product>
    </extension>
</plugin>
